// Font
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$font-style-normal: normal;
$font-style-italic: italic;

// Spacing
$spacing-0: 0rem;
