@import "../variables.scss";

// Bold
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  src: url("./OpenSans-Bold.ttf") format("truetype"), local("OpenSans-Bold");
  font-display: swap;
}

// BoldItalic
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-italic;
  font-weight: $font-weight-bold;
  src: url("./OpenSans-BoldItalic.ttf") format("truetype"),
    local("OpenSans-BoldItalic");
  font-display: swap;
}

// ExtraBold
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  src: url("./OpenSans-ExtraBold.ttf") format("truetype"),
    local("OpenSans-ExtraBold");
  font-display: swap;
}

// ExtraBoldItalic
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-italic;
  font-weight: $font-weight-extra-bold;
  src: url("./OpenSans-ExtraBoldItalic.ttf") format("truetype"),
    local("OpenSans-ExtraBoldItalic");
  font-display: swap;
}

// Italic
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-italic;
  font-weight: $font-weight-regular;
  src: url("./OpenSans-Italic.ttf") format("truetype"), local("OpenSans-Italic");
  font-display: swap;
}

// Light
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-normal;
  font-weight: $font-weight-thin;
  src: url("./OpenSans-Light.ttf") format("truetype"), local("OpenSans-Light");
  font-display: swap;
}

// LightItalic
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-italic;
  font-weight: $font-weight-thin;
  src: url("./OpenSans-LightItalic.ttf") format("truetype"),
    local("OpenSans-LightItalic");
  font-display: swap;
}

// Regular
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-normal;
  font-weight: $font-weight-regular;
  src: url("./OpenSans-Regular.ttf") format("truetype"),
    local("OpenSans-Regular");
  font-display: swap;
}

// SemiBold
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-normal;
  font-weight: $font-weight-semibold;
  src: url("./OpenSans-SemiBold.ttf") format("truetype"),
    local("OpenSans-SemiBold");
  font-display: swap;
}

// SemiBoldItalic
@font-face {
  font-family: "Open Sans";
  font-style: $font-style-italic;
  font-weight: $font-weight-semibold;
  src: url("./OpenSans-SemiBoldItalic.ttf") format("truetype"),
    local("OpenSans-SemiBoldItalic");
  font-display: swap;
}
