@import "./styles";

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: font-style-normal;
  font-weight: $font-weight-regular;
  margin: $spacing-0;
  padding: $spacing-0;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
